.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 72px;
  background-color: var(--inputs);
}

.logo {
  margin-left: 64px;
}

.headerNav {
  display: flex;
  gap: 32px;
}

.navLink {
  font-weight: 500;
}
